image: node:18

stages:
  - install
  - test

install_dependencies:
  stage: install
  script:
    - cd backend
    - npm install

run_tests:
  stage: test
  script:
    - cd backend
    - npm ci
    - npx jest
  dependencies:
    - install_dependencies
